.main-header{
  @apply w-full bg-primary-blue-100 py-4 text-white;
  background-image: linear-gradient(45deg,theme('colors.primary.blue.90') 20%, theme('colors.primary.blue.100') 80%);
  a:hover,
  a:focus {
    text-decoration: underline;
  }
}

/* CSS now supports nesting rules natively!!!! */
.main-header{
  .router-link-active,
  .router-link-exact-active {
    color: theme('colors.supporting.yellow.20');
  }
}
.main-header_wrapper{
  @apply justify-between content-center lg:flex;
}

